 
html {
    box-sizing: border-box;
  }
  @media only screen and (max-width:800px) {
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    .menu, .main, .right {
      width: 100%;
    }
  }
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
   
   font-family: 'Segoe UI', 'Roboto, Oxygen-Sans',
    'Ubuntu, Cantarell', 'Helvetica Neue', sans-serif;
   line-height: 1.4;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  header {
    position: relative;
    height: 25%;
  }
  #dt-dis-pos{
    position: absolute;
    color: rgb(21, 21, 22);
    bottom: 0;
    right: 0;
  }
  .container {
    background-image: url("https://cdn.shopify.com/s/files/1/1660/9891/products/Z180605P1806_large.jpg?v=1528357007");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: auto;
    position: relative;
  }

    input[type="text"] {
      outline:0;
      width:55%;
      height:32px;
      border:none;
      font-size:18px;
      font-weight:normal;
      padding-left:10px;
    }

    ul {
      padding:10px;
      color: whitesmoke;
      text-align:left;
      list-style:none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
     
    hr {
      border-bottom:0;
      margin:15px 0;
    }

    input[type="checkbox"] {width:30px; }
    .remove {
      float:right;
      cursor:pointer;

    }
    .completed {text-decoration:line-through; }
    
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
  }
  
  li:hover {
    background-color:rgb(49, 161, 39);
  }
  .add-todos{
    position: absolute;
    bottom: 5px;
    right: 0;
  }
#bg-fade{
    background-color: rgba(28, 44, 28, 0.650);
    border-radius: 12px;
}
.empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .checklist-icon {
    margin-bottom: 20px;
  }
  
  .empty-state__title, .empty-state__description {
    margin-bottom: 20px;
  }
  .todo-list:empty {
    display: none;
  }
  
  .todo-list:empty + .empty-state {
    display: flex;
  }
  